.navbar h1{
	color: white;
	margin: 0px;
	padding: 5px;
}

body{
	margin: 0px;
	overflow-x: hidden;
}


.sidebar{
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.logolink{
	max-width: 100%;
}

.logo{
	height: 100px;
}

.encompass{
	display: flex;
}

.navbar {
  background-color: black;
  position: sticky;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

.navlink {
	width: 100%;
	min-height: 30px;
}
	

.navbar a {
    text-decoration: none;
	color: white;
}
.nav_burger{
	display: none;
}
.topper{
	max-height: 20%;
	display: flex;
	flex-direction: row;
	align-items: center; 
}


@media(max-width: 35em){
	.logo{
		height: 50px;
	}

	.navbar {
		background-color: color;
		box-sizing: border-box;
		width: 100%;
		height: auto;
	}
	.sidebar {
		display: none;
	}
	.encompass {
		flex-direction: column;
	}
	.nav_burger {
		display: block;
		z-index: 9999;
		margin-left: auto;
		box-sizing: border-box;
	}

	.sidebar {
		position: absolute;
		z-index: 1000;
		max-height: 0;
		display: flex;
		overflow: hidden;
	}

	.sidebar.active {
		top: 100%;
		left: 0;
		max-height: 100%;
	}
	
	

}