.navbar h1{
	color: white;
	margin: 0px;
	padding: 5px;
}

body{
	margin: 0px;
}

.navbar ul{
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.encompass{
	display: flex;
}

.navbar {
  background-color: black;
  position: sticky;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

.navlink {
	width: 100%;
	min-height: 30px;
}

.navbar a {
    text-decoration: none;
	color: white;
}
.nav_burger{
	display: none;
}


@media(max-width: 35em){
	.navbar {
		background-color: color;
		box-sizing: border-box;
		width: 100vw;
		height: auto;
	}
	.sidebar {
		display: none;
	}
	.encompass {
		flex-direction: column;
	}
	.nav_burger {
		display: block;
		aspect-ratio: 1;
		z-index: 9999;
		align-items: center; 
  		justify-content: flex-end;
	}

	.sidebar {
		z-index: 1000;
		max-height: 0;
		display: flex;
		transition: max-height 0.3s ease;
	}

	.sidebar.active {
		top: 100%;
		left: 0;
		width: 100%;
	}
	
	

}